
/.gradle/
/.idea/
/build/
/out/

/boot-aop4k/build/
/boot-aop4k/out/
/boot-data-jpa4k/build/
/boot-data-jpa4k/out/
/boot-web4k/build/
/boot-web4k/out/
/common4k/build/
/common4k/out/
/george4k/build/
/george4k/out/
/github4k/build/
/github4k/out/
/http4k/build/
/http4k/out/
/http4k-apache/build/
/http4k-apache/out/
/http4k-fuel/build/
/http4k-fuel/out/
/http4k-tests/build/
/http4k-tests/out/
/logback4k/build/
/logback4k/out/
/jackson4k/build/
/jackson4k/out/
/markdown4k/build/
/markdown4k/out/
/markdown4k/sample_project/.gradle/
/markdown4k/sample_project/build/
/markdown4k/sample_project/out/
/release4k/build/
/release4k/out/
/swing4k/build/
/swing4k/out/
/spring4k/build/
/spring4k/out/
/test4k/build/
/test4k/out/
/web4k/build/
/web4k/out/
/wiremock4k/build/
/wiremock4k/out/
